*{
font-family: 'Dancing Script', cursive;
}

.cabecera{
	width: 100%;

	background-color:  #5b7989;
	display: flex;
	justify-content:space-between;
	border-radius: 10px 10px 1px 1px;
	text-align: center;

}

img{
	box-shadow: 2px 2px 2px 2px  #02010a;
}

.titulo{
	color: white;
	text-align: left;
	text-shadow: 2px 2px 2px  #02010a;

}


.ahref{
	list-style: none;
	display: inline-flex;
	
}
a{
	
	color: white;
	padding: 30px;
	

	
}


a:nth-child(1){
	text-decoration: none;
}


@media (max-width: 1000px) {
	
	.titulo{
	
	text-align: center;
	

	}

.cabecera{
	


	display: block;
	
	text-align: center;

}

}


.cuerpocentral{
	height: 70%;
	background: #82c3a6;

}


.imagen1{
	margin-top: 10px ;

   
}

.imgcentro{
	text-align: center;
}



.segundocuerpo{

	height:100%;
	background: #d5c75f ;
	
	
}

.imagencentral{

display: flex;
	flex-wrap: wrap;
justify-content: center;


}


.imagen2{
		
		margin-top: 20px;
		margin-right: 10px;
	width: 700px;
	height:500px;
	

}

.cen{
	text-align: center;
}

@media (max-width: 1000px) {
	.imagen2{
		width: 80%;
	}



	

	}

.imagen2:hover{
	animation: rodar 2s infinite;
}

@keyframes rodar{

to{
	transform: rotate(20deg);
}
}

.imagen3{
	
margin-top: 20px;
width: 700px;
	height: 500px;

}


@media (max-width: 1000px) {
	.imagen3{
		width: 80%;
	}

	
	}


.imagen3:hover{
	animation: tras 2s infinite;
	box-shadow: 2px 2px 2px 2px #82c3a6;
	border:2px solid black;
}


@keyframes tras{

to{
	transform: translate(5px,-20px);

}

}



#footer{
	display: flex;
justify-content: space-between;
flex-wrap: wrap;
background:  #C6d5c5;
border-radius: 2px 2px 14px 14px;
margin:0 auto;
padding: 12px;
}


.labellet{
	display: block;
	font-weight:900;
}



.lett{
	text-align: center;
}

.conlett{
		text-align: center;
}


@media (max-width:1000px ){
	
	.refe1{
		width: 100%;
	}
	
	.refe2{
		width: 100%;
	}

	.refe3{
		width: 100%;
	}

	.refe4{
		width: 100%;
	}


}


#paisajemedio{
	

	height: 100%;	
	background: #d5c75f;
	margin-top: -30px;
}


.imgmedio{


height: 70%;
padding: 10px;
margin: 20px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
	justify-content: space-between;
}

.mac{
	margin: 5px;
	width:500px;
	height: 90%;
	
}

.mac1{
	filter: blur(10px);
}

.mac2,.mac4,.mac6 {
	filter: grayscale(100%);
}

.mac3{
	filter: sepia(90%);
}




@media (max-width: 1000px) {
	
	.mac{
	
	width: 80%;

	}



.rebote{

	animation: rebote .1s ease-in;

}



@keyframes rebote{
	0%{
			margin-top: -150%;
			
	}

	60%{
		margin-top: -5%;
	}


	100%{
		margin-top: 0%;
	}
}