

.cabecera{
	width: 100%;

	background-color:  #5b7989;
	display: flex;
	justify-content:space-between;
	border-radius: 10px 10px 1px 1px;
	text-align: center;

}

.titulo{
	color: white;
	text-align: left;
	text-shadow: 2px 2px 2px  #02010a;

}


.ahref{
	list-style: none;
	display: inline-flex;
	
}
a{
	
	color: white;
	padding: 30px;
	

	
}


a:nth-child(1){
	text-decoration: none;
}


@media (max-width: 1000px) {
	
	.titulo{
	
	text-align: center;

	
	color: red;
	}

.cabecera{
	


	display: block;
	
	text-align: center;

}

}


.cuerpo{
	height: 80vh;
	background: #82c3a6;

}


.imagen1{
	margin-top: 10px ;

   
}

.imgcentro{
	text-align: center;
}